[global_config]
[keybindings]
[profiles]
  [[default]]
[layouts]
  [[default]]
    [[[child0]]]
      position = 65:24
      type = Window
      order = 0
      parent = ""
      size = 1855, 1056
    [[[child1]]]
      position = 927
      type = HPaned
      order = 0
      parent = child0
    [[[child2]]]
      position = 528
      type = VPaned
      order = 0
      parent = child1
    [[[child3]]]
      position = 264
      type = VPaned
      order = 0
      parent = child2
    [[[child17]]]
      position = 127
      type = VPaned
      order = 1
      parent = child13
    [[[child14]]]
      position = 130
      type = VPaned
      order = 0
      parent = child13
    [[[child6]]]
      position = 261
      type = VPaned
      order = 1
      parent = child2
    [[[child13]]]
      position = 261
      type = VPaned
      order = 1
      parent = child9
    [[[child9]]]
      position = 528
      type = VPaned
      order = 1
      parent = child1
    [[[child10]]]
      position = 264
      type = VPaned
      order = 0
      parent = child9
    [[[terminal18]]]
      profile = default
      type = Terminal
      command = tail -f /home/smoon/tmp/workspace-server_2/workspace-server_2.log 
      order = 0
      parent = child17
    [[[terminal11]]]
      profile = default
      type = Terminal
      command = tail -f /home/smoon/tmp/depot-master/depot-master.log 
      order = 0
      parent = child10
    [[[terminal12]]]
      profile = default
      type = Terminal
      command = tail -f /home/smoon/tmp/depot-standby_1/depot-standby_1.log 
      order = 1
      parent = child10
    [[[terminal5]]]
      profile = default
      type = Terminal
      order = 1
      parent = child3
    [[[terminal4]]]
      profile = default
      type = Terminal
      order = 0
      parent = child3
    [[[terminal7]]]
      profile = default
      type = Terminal
      order = 0
      parent = child6
    [[[terminal16]]]
      profile = default
      type = Terminal
      command = tail -f /home/smoon/tmp/workspace-server_1/workspace-server_1.log 
      order = 1
      parent = child14
    [[[terminal19]]]
      profile = default
      type = Terminal
      command = tail -f /home/smoon/tmp/workspace-server_3/workspace-server_3.log 
      order = 1
      parent = child17
    [[[terminal8]]]
      profile = default
      type = Terminal
      order = 1
      parent = child6
    [[[terminal15]]]
      profile = default
      type = Terminal
      command = tail -f /home/smoon/tmp/depot-standby_2/depot-standby_2.log 
      order = 0
      parent = child14
[plugins]
